.DS_Store
node_modules
out
better-docs
better-docs/**

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report*.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.log
bk
dist/js/index.js
dist/js/index.js.map